* {
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: gray;
}
.nav_container {
    width: 70%;
    margin: auto;
}
.row {
    display: flex; 
    justify-content: space-between;
}
.logo{
    width: 100px;
    height: 60px;
    background-image: url(https://preview.uideck.com/items/mate/img/logo.png);
}
.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
ul {
    display: flex;
}
ul li {
    padding: 0 8px; 
    font-size: 15px; 
    font-weight: 600;
}
ul li a {
    color: white;
    border: 1px solid transparent; 
    /* transparent: trong suốt */
    padding: 6px 14px;
    border-radius: 30px;
}
ul li a:active {
    background-color: aquamarine;
    border-radius: 30px;
}
.active {
    background-color: aquamarine;
}