* {
    box-sizing: border-box;
    list-style: none;
}

section {
    margin: 100px 30px;
}

.list-items {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    width: 100%;
}

.item {
    background-color: aqua;
    border: 1px solid black;
    height: 100px;
    width: 100%;
    overflow: hidden;
}

/* máy tính bảng */
@media only screen and (max-width: 768px) {
    .list-items {
        grid-template-columns: repeat(1,1fr);
    }
}

/* điện thoại */
@media only screen and (max-width: 576px) {
    .list-items {
        grid-template-columns: repeat(2,1fr);
    }
}

